<!DOCTYPE html>
<html>
<head>
    <title>Compressão de Dados - Seminário CD2</title>
    <link rel="stylesheet" href="style_demo.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <h1>Compressão de Dados</h1>
            <h2>Seminário - Comunicações Digitais 2</h2>
            <div class="authors">
                <span>Matheus Pereira de Andrade</span>
                <span>Alfredo Francisco Amancio Mota</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h2>Insira o texto para ser minificado</h2>
            <form method="POST" action="/mini">
                <div class="form-group">
                    <textarea name="texto" placeholder="Digite ou cole seu texto aqui..."></textarea>
                </div>
                <button type="submit">Realizar Minificação</button>
            </form>
        </div>

    <a href="/" class="index-button">Pagina Inicial</a>
    <div class="footer">
        <p>Universidade Federal de Uberlândia - Engenharia Eletrônica e de Telecomunicações</p>
    </div>
</body>
</html>